
###
## Ce fichier permet d'ajouter des fichiers à ignorer par Git
###

## Fichiers de compilation
target/
*.class

## Fichiers Intellij & Eclipse
.idea/
.metadata/
.project
*.classpath
.settings/
*.iws
*.iml
*.ipr

*.launch